#content.index {
  .display-pc {display: none;}
  .display-sp {display: block;}
  #kv {
    .kv_top {
      height: (630 / $vw) * 100vw;
      max-height: none;
      background-image: url("../images/index/kv_sp.jpg");
      align-items: stretch;
      .kv_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: (210 / $vw) * 100vw;
        .catch {
          font-size: (28 / $fs) * 1rem;
          line-height: (60/28);
          em {
            font-size: (42/28) * 1em;
            line-height: (70/42);
          }
        }
        .btnWrap {
          margin-top: (40 / $fs) * 1rem;
        }
        .btn {
          font-size: (32 / $fs) * 1rem;
          line-height: (80/32);
          border-width: (3 / $fs) * 1rem;
          padding: (8/32) * 1em;
          width: (550/32) * 1em;
        }
      }
    }
    .kv_btm {
      margin-top: (57 / $fs) * 1rem;
      .kv_inner {
        .faces {
          width: (418 / $vw) * 100%;
          flex-wrap: wrap;
          li {
            width: (206/418) * 100%;
            margin-bottom: (5 / $fs) * 1rem;
            &.sp_end {
              order: 4;
            }
          }
        }
        .mock {
          width: 49.5%;
          bottom: auto;
          top: (35 / $fs) * 1rem;
          right: (20 / $fs) * 1rem;
          .badge {
            width: (181 / $fs) * 1rem;
            height: (181 / $fs) * 1rem;
            font-size: (22 / $fs) * 1rem;
            background: rgba(78, 205, 196, 0.71);
            border: #fff solid (2 / $fs) * 1rem;
            //transform: rotate(5.5deg);
            top: -(135 / $fs) * 1rem;
            left: (138 / $fs) * 1rem;
          }
        }
      }
    }
    .mock {
      .badge {
        transform: translate(1rem, 2rem) rotate(5.5deg);
      }
    }
    &.init {
      .mock {
        .badge {
          transform: translate(0, 0) rotate(5.5deg);
        }
      }
    }
  }

  #kv_custom {
    .mv_area {
      background-color: #4ecdc4;
      //height: 420px;
      &.inview { 
        .img_area.A, .img_area.C {
          opacity: 1;
        }
        .img_area.B {
          .box_2l.A, .box_2l.B {
            opacity: 1;
          }
          .box_bg {
            .title_area {
              opacity: 1;
              transform: translateY(0);
            }
            .btn_area {
              a.btn_kv {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }
      .img_area {
        display: flex;
        width: 100%;
        .box_l {
          width: 25%;
        }
        .box_l.bg_1 {
          display: none;
        }
        .box_l.bg_2 {
          transition: all .3s ease-in .15s;
          background-image: url(../../assets/images/index/custom/bg_kv_2@2x.png);
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          height: 120px;
          width: 50%;
        } 
        .box_l.bg_3 {
          transition: all .3s ease-in .3s;
          background-image: url(../../assets/images/index/custom/bg_kv_3@2x.png);
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          height: 120px;
          width: 50%;
        } 
        .box_l.bg_4 {
          display: none;
        }
        .box_l.bg_11 {
          display: none;
        }
        .box_l.bg_12 {
          transition: all .3s ease-in .6s;
          background-image: url(../../assets/images/index/custom/bg_kv_9@2x.png);
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          height: 120px;
          width: 50%;
        } 
        .box_l.bg_13 {
          transition: all .3s ease-in .9s;
          background-image: url(../../assets/images/index/custom/bg_kv_10@2x.png);
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          height: 120px;
          width: 50%;
        } 
        .box_l.bg_14 {
          display: none;
        }
      }
      .img_area.A {
        opacity: 0;
        transition: all .3s ease-in-out .8s;
      }
      .img_area.C {
        opacity: 0;
        transition: all .3s ease-in-out 1.4s;
      }
      .img_area.B {
        .box_2l {
          width: 25%;
          background-color: #818181;
        }
        .box_2l.A {
          display: none;
          .large.bg_12 {
          }
          .small_box {
            display: flex;
            div.bg_13 {
            }
            div.bg_14 {
            }
          }
        }
        .box_2l.B {
          display: none;
          .large.bg_10 {
          }
          .small_box {
            display: flex;
            div.bg_8 {
            }
            div.bg_9 {
            }
          }
        }
        .box_bg {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #fff;
          height: auto;
          padding: 1.4em 0;
          .title_area {
            line-height: 1.5;
            text-align: center;
            opacity: 0;
            transform: translateY(2rem);
            transition: all .4s ease-out .3s;
            p {
              font-size: 1.2rem;
            }
            h1 {
              font-size: 2.4rem;
              font-weight: 500;
            }
          }
          .btn_area {
            margin: 1em auto .8em;
            a.btn_kv {
              background-color: #fff;
              border: 1px solid #1a535c;
              border-radius: 36px;
              color: #1a535c;
              padding: .6em 2em;
              margin: 2em auto 0;
              opacity: 0;
              transition: all .4s ease-out 2s;
            }
          }
        }
      }
    }
  }

  #point_custom {
    .bg {
      padding: 2em 0;
      .section_inner {
        width: 96%;
        .colum-wh {
          padding: 2em 1em;
          h2.title {
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 1em;
            line-height: 1.4;
          }
          p.caption {
            text-align: left;
          }
          .point-area {
            flex-direction: column;
            .point {
              border-radius: 8px;
              border: 3px solid #4ecdc4;
              box-shadow: none;
              width: 90%;
              height: auto;
              padding: 1em 0;
              margin: 0 auto 1em;
              display: flex;
              flex-direction: row;
              .icon_area {
                width: 35%;
                figure {
                  margin: 0 auto;
                }
              }
              .txt_area {
                width: 65%;
                p {
                  font-size: 1.6rem;
                  text-align: left;
                }
              }
            }
            .border {
              position: absolute;
              border-left: 6px solid #4ecdc4;
              border-top: none;
              top: auto;
              left: 50%;
              transform: translateXY(-50%);
              -webkit-transform: translateXY(-50%);
              width: auto;
              height: 80%;
            }
          }
          .btn_area {
            a.btn.cta {
              width: 90%;
              padding: .4em;
              line-height: 1.6;
            }
          }
        }
      }
    }
  }
  #choice_custom {
    .bg {
      padding: 3em 0 3em;
      h2.title {
        font-size: 1.8rem;
        margin-bottom: 1em;
      }
      .section_inner {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
        .choice_box {
          padding: 2em 0 0;
          border-bottom: 1px solid #4ecdc4;
          .inner {
            width: 100%;
            margin: 0 auto;
          }
          .title-area {
            width: 90%;
            margin: 0 auto 1.6em;
            .focus {
              color: #4ecdc4;
              font-size: 1.4rem;
              font-weight: 500;
              margin-bottom: .8em;
            }
            h3.colum_title {
              font-size: 1.6rem;
              line-height: 1.4;
              font-weight: 500;
              margin-bottom: .6em;
              span {
                color: #4ecdc4;
              }
            }
          }
          h3 {
            font-size: 1.6rem;
            line-height: 1.4;
            font-weight: 500;
            margin-bottom: .6em;
            span {
              color: #4ecdc4;
            }
          }
          p.caption {
            text-align: left;
          }
          .flow-base {
            background-color: #fafafa;
            border-radius: 4px;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
            padding-top: 2em;
            width: 100%;
            margin: 0 auto;
            position: relative;
          }
          .flow-area-outer {
            position: relative;
            .flow-area {
              display: flex;
              justify-content: space-evenly;
              margin-bottom: 2em;
              //overflow-x: scroll;
              //width: 840px;
              width: auto;
              .box {
                width: 130px;
                position: relative;
                &:after {
                  display: none;
                }
                .num {
                  display: none;
                }
                .border {
                  border: 3px solid #4ecdc4;
                  border-radius: 4px;
                  .title {
                    background-color: #4ecdc4;
                    color: #fff;
                    font-size: 1.15rem;
                    text-align: center;
                    padding: .4em 0;
                  }
                  .img-area {
                    background-color: #f1f1f1;
                    height: 130px;
                    overflow: hidden;
                  }
                }
              }
              .box:last-child {
                &:after {
                  display: none;
                }
              }
              .box.A, .box.B, .box.D, .box.E {
                display: none;
              }
              .box.focus {
                //width: 220px;
                width: 60%;
                &:before {
                  margin: 0 auto 1.3em;
                }
                .num { 
                  background-color: #ff6e6e;
                }
                .border {
                  border: 3px solid #ff6e6e;
                  border-radius: 4px;
                  .title {
                    background-color: #ff6e6e;
                    color: #fff;
                    text-align: center;
                    padding: .4em 0;
                  }
                  .img-area {
                    height: auto;
                  }
                }
              }
            }
          }
          .caption-area {
            background-color: #4ecdc4;
            padding: 3em .8em 2em;
            text-align: center;
            position: relative;
            &:before {
              content: '';
              position: absolute;
              top: 0%;
              left: 50%;
              border: 75px solid transparent;
              border-top: 35px solid #fafafa;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
            }
            h3 {
              font-size: 1.4rem;
              &:before {
                display: none;
              }
              span {
                color: #fff;
              }
            }
            p {
              text-align: left;
            }
            p.num {
            }
          }
          .flex_box {
            .txt-area {
              text-align: left;
              width: 90%;
              margin: 0 auto 1em;
            }
            .img-area {
              height: 200px;
              width: 90%;
              margin: 0 auto 1em;
            }
          }
        }
        .choice_box.sec {
          background-color: #fafafa;
          padding: 2em 0;
          .flex_box { 
            flex-direction: column-reverse;
            justify-content: flex-start;
            .img-area {
              content: '';
              width: 360px;
              height: 270px;
              position: relative;
              .img-box {
                position: absolute;
                top: 14%;
                left: 4%;
                width: 92%;
                max-width: unset;
                /* height: 90%; */
                border-radius: 8px;
                overflow: hidden;
              }
            }
            .txt-area {
              figure {
                margin: 2em auto 2em;
                img{
                  width: 210px;
                  margin: 0 auto;
                }
              }
            }
          }
        }
        .choice_box.third {
          padding: 2em 0;
          .flex_box { 
            flex-direction: column-reverse;
            margin-bottom: 2em;
            justify-content: flex-start;
          }
          .fikidashi {
            margin: 2.4em auto 1em;
            text-align: center;
            img {
              width: 300px;
            }
          }
          .comment-area {
            background-color: #fff;
            border: 6px solid #4ecdc4;
            border-radius: 0x;
            box-shadow: none;
            width: 100%;
            .title {
              background-color: #4ecdc4;
              color: #fff;
              font-size: 1.4rem;
              text-align: center;
              padding: .4em;
              line-height: 1.5;
            }
            .comment-base {
              padding: 1em 0 0;
              ul {
                width: 90%;
                li {
                  padding: .6em 0;
                  font-size: .9rem;
                  span.icon {
                    display: none;
                    &:before {
                    }
                  }
                  span.txt {
                    width: 100%;
                  }
                }
                li:last-child {
                  border-bottom: none;
                }
              }
            }
            .teacher-heading {
              color: #818181;
              text-align: center;
              margin: 1em auto 1.2em;
            }
            .teacher-area {
              background-color: #4ecdc4;
              padding: 4em 0 2em;
              position: relative;
              &:before {
                content: '';
                position: absolute;
                top: 0%;
                left: 50%;
                border: 75px solid transparent;
                border-top: 35px solid #fff;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
              }            
              .box {
                flex-direction: column;
                .img-area {
                  width: 35%;
                  .circle {
                    width: 120px;
                    height: 120px;
                    background-color: #818181;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0 auto 1em;
                  }
                }
                .txt-area {
                  width: 90%;
                  margin: 0 auto;
                  p {
                    margin-bottom: .8em;
                    text-align: left;
                  }
                  p.name {
                    font-size: 1.6rem;
                  }
                  p.job {
                    font-size: 1.1rem;
                  }
                }
              }
            }
          }
        }
        .btn_area {
          text-align: center;
          padding: 4em 0;
          a.btn {
            margin: 0 auto;
            width: 85%;
          }
        }
      }
    }
  }

  #faq_custom {
    .bg {
      background-color: #ebf9f7;
      padding: 2em 0;
      h2 {
        font-size: 1.8rem;
        margin-bottom: .8em;
        text-align: center;
      }
      .section_inner {
        padding: 0;
        width: 90%;
        max-width: unset;
        margin: 0 auto;
        .faq_base {
          background-color: #fff;
          border-radius: 4px;
          margin-bottom: 2em;
          .q_area {
            display: flex;
            align-items: center;
            padding: .8em;
            position: relative;
            min-height: 80px;
            .icon {
              position: absolute;
              top: 18px;
              left: 18px;
              width: 40px;
              height: 40px;
            }
            p {
              font-size: 1.1rem;
              line-height: 1.6;
              margin-left: 55px;
            }
          }
          .a_area {
            padding: 1.2em .8em;
            flex-direction: column;
            .icon {
              position: absolute;
              top: 18px;
              left: 18px;
              background-color: #1a535c;
              border-radius: 50%;
              color: #fff;
              display: inline-flex;
              font-weight: 500;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
            }
            .text_area {
              width: auto;
              margin-left: 55px;
            }
            .img_area {
              //width: auto;
              //margin-left: 55px;
              display: none;
            }
          }
        }
        .btn_area {
          text-align: center;
          padding: 3em 0;
          a.btn {
            margin: 0 auto;
            width: 94%;
          }
        }
      }
    }
  }

  #price{
    .section_inner{
      padding: (95/$fs)*1rem 0 (100/$fs)*1rem;
      &>.tit{
        font-size: 1.8rem;
        line-height: (60/42);
      }
      .price_plan{
        padding: (65/$fs)*1rem 0 (40/$fs)*1rem;
        margin-top: (85/$fs)*1rem;
        text-align: left;
        font-size: (30/$fs)*1rem;
        .txt{
          line-height: (50/30);
          margin-left: (50/$fs)*1rem;
        }
        .badge{
          width: (194/$fs)*1rem;
          height: (194/$fs)*1rem;
          top: (37/$fs)*1rem;
          right: (30/$fs)*1rem;
          font-size: (22/$fs)*1rem;
        }
        .equation{
          width: (620/670)*100%;
          margin: (55/$fs)*1rem auto 0;
          .cost{
            width: (180/620)*100%;
            border-width: (3/$fs)*1rem;
            line-height: (74/28);
            text-align: center;
            letter-spacing: .02em;
            &.total{}
          }
          .eq{
            width: (20/$fs)*1rem;
          }
        }
      }
      .price_free{
        margin-top: (35/$fs)*1rem;
        .free{
          width: (98/670)*100%;
          &:before{
            content: "";
            display: block;
            position: absolute;
            background-image: url("../images/product/index/price_free_base_sp_red.png");
            width: (143/98)*100%;
          }
          .shine{
            font-size: (40/$fs)*1rem;
            line-height: (63/40);
            text-align: center;
            letter-spacing: .1em;
            margin-left: (45/$fs)*.5rem;
            writing-mode: vertical-rl;
            height: (260/40)*1em;
            em{
              display: inline;
              &:before{
                width: (11/$fs)*1rem;
                height: (12/$fs)*1rem;
                top: (-28/$fs)*1rem;
                right: (30/$fs)*1rem;
              }
            }
            &:before,&:after{
              width: (23/$fs)*1rem;
              height: (26/$fs)*1rem;
            }
            &:before{
              top: (-45/$fs)*1rem;
              right: (10/$fs)*1rem;
            }
            &:after{
              bottom: (-40/$fs)*1rem;
              left: (0/$fs)*1rem;
            }
          }
        }
        .support{
          ul{
            li{
              display: block;
              align-items: flex-start;
              .label{
                display: block;
                padding-left: (72/$fs)*1rem;
                font-size: (30/$fs)*1rem;
                line-height: (55/30);
                width: 100%;
                border-right: none;
                padding-top: (10/$fs)*1rem;
              }
              .desc{
                padding-left: (72/$fs)*1rem;
                padding-right: 0;
                font-size: (24/$fs)*1rem;
                line-height: (35/24);
                padding-bottom: (10/$fs)*1rem;
                &:after{
                  display: none;
                }
              }
            }
          }
        }
      }
      .ctabox{
        margin-top: (65/$fs)*1rem;
        .call{
          font-size: (30/$fs)*1rem;
          line-height: (54/30);
        }
        .btn{
          font-size: (32/$fs)*1rem;
          line-height: (70/32);
          padding: (15/32)*1em;
          width: (580/32)*1em;
          border: #fff solid (3/$fs)*1rem;
          box-shadow: 0 0 (27/$fs)*1rem (10/$fs)*1rem rgba(0,0,0,.15);
          margin-top: (30/$fs)*1rem;
        }
      }
    }
    .btn-area {
      flex-direction: column;
      padding: 3em 0 0;
      a.btn.cta {
        padding: .4em 1.6em;
        line-height: 1.6;
        width: 90%;
      }
      a.btn.A {
        margin: 0 auto 1.4em;
      }
      a.btn.B {
        margin: 0 auto;
      }
    }
  }

  #event_custom {
    .section_inner {
      padding-top: (75 / $fs) * 1rem;
      & > .tit {
        font-size: (42 / $fs) * 1rem;
        line-height: (60/42);
      }
      .cases {
        margin: (65 / $fs) * 1rem auto 0;
        .slick-list {
          width: 100%;
          padding-top: (20 / $fs) * 1rem;
        }
        .slick-arrow {
          width: (70 / $fs) * 1rem;
          height: (150 / $fs) * 1rem;
          top: (110 / $fs) * 2rem;
          svg {
            width: (25/70) * 100%;
          }
          &.slick-prev {
            left: (0 / $fs) * 1rem;
          }
          &.slick-next {
            right: (0 / $fs) * 1rem;
          }
        }
        .slick-dots {
          display: flex;
          justify-content: center;
          li {
            width: (20 / $fs) * 1rem;
            height: (20 / $fs) * 1rem;
            border-radius: 100%;
            margin: (8 / $fs) * 1rem;
            background: $pale;
            transition: all 0.3s ease;
            &.slick-active {
              background: $green;
            }
          }
        }
        .case {
          width: (610/750) * 100%;
          margin: 0 (70 / $fs) * 1rem (30 / $fs) * 1rem;
          a {
            .img {
            }
            .desc {
              padding: (30 / $fs) * 1rem (30 / $fs) * 1rem 0;
            }
            .tit {
            }
            .user {
            }
          }
        }
      }
      .btn_area {
        margin-top: 3em;
        a.btn.cta {
          margin: 0 auto;
          font-size: .9rem;
          padding: .6em;
          width: 85%;
        }
      } 
    }
  }

  #doc_custom {
    .bg {
      background-color: #ebf9f7;
      padding: 3em 0;
      h2 {
        font-size: 1.8rem;
        //margin-bottom: .8em;
        text-align: center;
      }
    }
    .section_inner {
      padding: 2em 0;
      & > .tit {
        font-size: (42 / $fs) * 1rem;
        line-height: (60/42);
      }
      .cases {
        margin: (65 / $fs) * 1rem auto 0;
        .slick-list {
          width: 100%;
          padding-top: 0;
        }
        .slick-arrow {
          width: (70 / $fs) * 1rem;
          height: (150 / $fs) * 1rem;
          top: (110 / $fs) * 2rem;
          svg {
            width: (25/70) * 100%;
          }
          &.slick-prev {
            left: (0 / $fs) * 1rem;
          }
          &.slick-next {
            right: (0 / $fs) * 1rem;
          }
        }
        .slick-dots {
          display: flex;
          justify-content: center;
          li {
            width: (20 / $fs) * 1rem;
            height: (20 / $fs) * 1rem;
            border-radius: 100%;
            margin: (8 / $fs) * 1rem;
            background: #fff;
            transition: all 0.3s ease;
            &.slick-active {
              background: $green;
            }
          }
        }
        .case {
          width: (610/750) * 100%;
          margin: 0 (70 / $fs) * 1rem (30 / $fs) * 1rem;
          a {
            .img {
            }
            .desc {
              padding: (30 / $fs) * 1rem (30 / $fs) * 1rem 0;
            }
            .tit {
            }
            .user {
            }
          }
        }
      }
      .btn_area {
        margin-top: 3em;
        a.btn.cta {
          margin: 0 auto;
          width: 85%;
        }
      } 
    }
  }

  #topic_custom {
    .section_inner {
      padding-top: (80 / $fs) * 1rem;
      padding-bottom: (105 / $fs) * 1rem;
      width: 100%;
      max-width: auto;
      h2 {
        font-size: 1.8rem;
        margin-bottom: .8em;
      }
      .sheet {
        width: 100%;
        background: #fff;
        border: #e5e5e5 solid 1px;
        font-size: .9rem;
        line-height: (68/22);
        color: #333;
        margin-top: -1px;
        position: relative;
        z-index: 2;
        padding: 1rem;
        .list_topic {
          &[data-tab="blog"] {
            ul {
              li {
                .post_wrap {
                  .date {
                    width: 5em;
                  }
                  .category {
                    width: auto;
                    margin: 0 2.5em 0 3em;
                  }
                  .txt {
                   display: block; 
                  }
                }
              }
            }
          }
          ul {
            li {
              border-top: #e5e5e5 solid 1px;
              &:first-child {
                border-top: none;
              }
              .post_wrap {
                display: block;
                padding: (24 / $fs) * 1rem (25 / $fs) * 1rem;
                line-height: 2;
                @media (hover: hover) {
                  &:hover {
                    opacity: 1;
                    .txt {
                      color: $accent;
                    }
                  }
                }
                .date {
                  letter-spacing: 0.03em;
                  color: #888;
                  display: inline-block;
                  width: 8em;
                }
                .category {
                  font-size: (12 / $fs) * 1rem;
                  //min-width: (76/12)*1em;
                  width: 10em;
                  display: inline-block;
                  //padding: 0 1em;
                  padding: 0;
                  margin: 0 (30/12) * 1em 0 0.5em;
                  text-align: center;
                  color: $accent;
                  line-height: (20/12);
                  font-weight: 500;
                  border: #ebf9f7 solid 2px;
                }
                .txt {
                  letter-spacing: 0.05em;
                  transition: color 0.2s ease;
                }
              }
            }
          }
          .btn {
            font-size: (14 / $fs) * 1rem;
            line-height: (33/14);
            padding: 0 1em;
            width: (166/14) * 1em;
            margin: 0 auto;
            margin-top: 2em;
          }
        }
      }
    }
  }

  #docarea_custom {
    .bg {
      background-color: #4ecdc4;
      padding: 3em 0 3em;
      h2 {
        color: #fff;;
        font-size: 1.8rem;
        margin-bottom: 1.2em;
        text-align: center;
      }
      .section_inner {
        padding: 0;
        width: 96%;
        max-width: unset;
        margin: 0 auto;
        .doc-area {
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin: 1em auto;
          width: 100%;
          figure {
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
            width: 45%;
            height: 120px;
            margin-bottom: 1em;
          }
        }
      }
    }
    .btn_area {
      text-align: center;
      padding: 3em 0;
      a.btn {
        margin: 0 auto;
        width: 85%;
      }
    }
  }


  #overview {
    .lead {
      .section_inner {
        padding: (80 / $fs) * 1rem 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        .desc {
          width: 100%;
          & > .tit {
            font-size: (36 / $fs) * 1rem;
            line-height: (58/36);
            em {
              margin-top: (25 / $fs) * 1rem;
              font-size: (42/36) * 1em;
              line-height: (60/42);
            }
          }
          .txt {
            margin-top: (50 / $fs) * 1rem;
            line-height: (50/28);
          }
        }
        .imgs {
          width: (670/750) * 100%;
          padding: (55 / $fs) * 1rem 0 0;
          img {
            &[src*="disp"] {
              box-shadow: 0 0 (20 / $fs) * 1rem (10 / $fs) * 1rem
                rgba(0, 0, 0, 0.07);
            }
            &[src*="disp02"] {
              width: (435/565) * 100%;
              margin-left: -(35 / $fs) * 1rem;
              margin-bottom: -(120 / $fs) * 1rem;
            }
            &[src*="disp01"] {
              width: (435/565) * 100%;
              margin-right: 0;
            }
            &[src*="disp03"] {
              width: (435/565) * 100%;
              top: (165 / $fs) * 1rem;
              left: -60%;
            }
            &[src*="pad"] {
              width: (38/565) * 100%;
              top: (52 / $fs) * 1rem;
              right: (60/565) * 100%;
              //transform: rotate(-23.39deg);
            }
            &[src*="medicine"] {
              width: (28/565) * 100%;
              top: (83 / $fs) * 1rem;
              right: (7/565) * 100%;
            }
            &[src*="communication"] {
              width: (50/565) * 100%;
              top: (120 / $fs) * 1rem;
              right: (55/565) * 100%;
            }
          }
        }
      }
    }
    #function {
      .section_inner {
        padding: (140 / $fs) * 1rem 0 0;
        ul {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          li {
            width: 100%;
            margin-top: (80 / $fs) * 1rem;
            &:first-child {
              margin-top: 0;
            }
            .num {
              width: (100 / $fs) * 1rem;
              height: (100 / $fs) * 1rem;
              img {
                height: (43 / $fs) * 1rem;
              }
            }
            .img {
            }
            .desc {
              padding: (45 / $fs) * 1rem (0 / $fs) * 1rem (60 / $fs) * 1rem;
            }
            .tit {
              height: auto;
              justify-content: flex-start;
              font-size: (32 / $fs) * 1rem;
              line-height: (72/32);
              em {
                display: block;
                font-size: (42/32) * 1em;
                line-height: (72/42);
              }
            }
            .txt {
              margin-top: (35 / $fs) * 1rem;
              font-size: (24 / $fs) * 1rem;
              line-height: (46/24);
              padding: 0 (40 / $fs) * 1rem;
            }
          }
        }
      }
    }
    #movie {
      .section_inner {
        padding-top: (80 / $fs) * 1rem;
        padding-bottom: (115 / $fs) * 1rem;
        .popMovie {
          .thumb {
            border-radius: (7 / $fs) * 1rem;
            border: #fff solid (5 / $fs) * 1rem;
            box-shadow: 0 0 (40 / $fs) * 1rem 0 rgba(145, 148, 158, 0.3);
          }
          .tit {
            padding: (25 / $fs) * 1rem (40 / $fs) * 1rem;
            font-size: (24 / $fs) * 1rem;
          }
          .btn_play {
            width: (95 / $fs) * 1rem;
            height: (95 / $fs) * 1rem;
            border: #fff solid (4 / $fs) * 1rem;
            &:before {
              border-top: transparent solid (13 / $fs) * 1rem;
              border-bottom: transparent solid (13 / $fs) * 1rem;
              border-left: #fff solid (21 / $fs) * 1rem;
            }
          }
        }
        .btn {
          font-size: (32 / $fs) * 1rem;
          line-height: (50/32);
          padding: (15/32) * 1em;
          width: (500/32) * 1em;
          margin-top: (60 / $fs) * 1rem;
          font-weight: 400;
        }
      }
    }
  } //#overview

  #campaign {
    .section_inner {
      padding-top: (75 / $fs) * 1rem;
      & > .tit {
        font-size: (42 / $fs) * 1rem;
        line-height: (60/42);
      }
      & > ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: (40 / $fs) * 1rem auto 0;
        & > li {
          width: 100%;
          margin-top: (40 / $fs) * 1rem;
          background: #f6f6f6;
          &:first-child {
            margin-top: 0;
          }
          a {
            display: block;
            padding: 24px;
            position: relative;
          }
          &.starter {
            text-align: center;
            color: #0099cc;
            line-height: 1;
            b {
              display: block;
              font-weight: bold;
              font-size: 1.2rem;
            }
            strong {
              display: block;
              color: #fff;
              background: #0099cc;
              padding: 12px 12px 10px;
              border-radius: 36px;
              margin: 20px auto 24px;
            }
            span {
              display: block;
              font-size: 0.85rem;
            }
          }
          &.hajimete {
            text-align: center;
            color: #336666;
            line-height: 1;
            b {
              display: block;
              font-weight: bold;
              font-size: 1.2rem;
            }
            strong {
              display: block;
              color: #fff;
              background: #336666;
              padding: 12px 12px 10px;
              border-radius: 36px;
              margin: 20px auto 24px;
            }
            span {
              display: block;
              font-size: 0.85rem;
            }
          }
          &.winter2019 {
            text-align: center;
            color: #55beb7;
            line-height: 1;
            a {
              & > i {
                span {
                  font-size: 0.9rem;
                }
              }
              & > b {
                display: block;
                font-weight: bold;
                font-size: 1.2rem;
              }
              & > strong {
                display: block;
                color: #fff;
                background: #55beb7;
                padding: 12px 12px 10px;
                border-radius: 36px;
                margin: 20px auto 24px;
              }
              & > span {
                display: block;
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }
  }

  #case {
    .section_inner {
      padding-top: (75 / $fs) * 1rem;
      & > .tit {
        font-size: (42 / $fs) * 1rem;
        line-height: (60/42);
      }
      .cases {
        margin: (65 / $fs) * 1rem auto 0;
        .slick-list {
          width: 100%;
          padding-top: (20 / $fs) * 1rem;
        }
        .slick-arrow {
          width: (70 / $fs) * 1rem;
          height: (150 / $fs) * 1rem;
          top: (110 / $fs) * 1rem;
          svg {
            width: (25/70) * 100%;
          }
          &.slick-prev {
            left: (0 / $fs) * 1rem;
          }
          &.slick-next {
            right: (0 / $fs) * 1rem;
          }
        }
        .slick-dots {
          display: flex;
          justify-content: center;
          li {
            width: (20 / $fs) * 1rem;
            height: (20 / $fs) * 1rem;
            border-radius: 100%;
            margin: (8 / $fs) * 1rem;
            background: $pale;
            transition: all 0.3s ease;
            &.slick-active {
              background: $green;
            }
          }
        }
        .case {
          width: (610/750) * 100%;
          margin: 0 (70 / $fs) * 1rem (30 / $fs) * 1rem;
          a {
            .img {
              box-shadow: 0 (10 / $fs) * 1rem (20 / $fs) * 1rem
                rgba(92, 95, 101, 0.15);
            }
            .desc {
              padding: (30 / $fs) * 1rem (30 / $fs) * 1rem 0;
            }
            .tit {
            }
            .user {
            }
          }
        }
      }
      .btn_area {
        a.btn {
          margin: 0 auto;
          width: 85%;
        }
      }
    }
  }

  #topic {
    .section_inner {
      padding-top: (130 / $fs) * 1rem;
      padding-bottom: (115 / $fs) * 1rem;
      width: 100%;
      justify-content: space-between;
      a.tab {
        width: (360/750) * 100%;
        margin-left: (0 / $fs) * 1rem;
        font-size: (36 / $fs) * 1rem;
        line-height: (101/36);
        &.active:first-child {
          border-left: none;
        }
        &.active:nth-child(2) {
          border-right: none;
        }
        span {
          &:before {
            background: url("../images/common/arrow_g.svg") 50%/42% auto
              no-repeat;
          }
        }
      }
      .sheet {
        border-left: none;
        border-right: none;
        font-size: (24 / $fs) * 1rem;
        line-height: (40/24);
        padding: (35 / $fs) * 1rem (40 / $fs) * 1rem;
        .list_topic {
          ul {
            border-bottom: #e5e5e5 solid 1px;
            li {
              .post_wrap {
                padding: (30 / $fs) * 1rem 0;
                .date {
                }
                .category {
                }
                .txt {
                  display: block;
                }
              }
            }
          }
          .btn {
            font-size: (32 / $fs) * 1rem;
            width: (370/32) * 1em;
            margin-top: (40 / $fs) * 1rem;
          }
        }
      }
    }
  }
} //#content.index
