@charset "utf-8"; //日本語を記述する場合は先頭に必須
//URI setting
$rootPath:"/";
$cssPath: "../css/";
$imgPath: "../images/";

@import "mixin";
@import 'svg';
@import "fonts";

@mixin bullet_right($color:'#999') {
  background-image: inline-svg(
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.49 72.71">'
		+ '<polygon fill="' + $color + '" points="42.49 35.33 5.11 0 0 5.41 31.98 35.62 1.76 67.6 7.17 72.71 37.38 40.73 37.38 40.73 42.49 35.33"/>'
    + '</svg>');
}

.block-editor-writing-flow{
	font-family:
		'Noto Sans Japanese',Helvetica,Verdana,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic',YuGothic,'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-weight: 300;
	color: #333;
	letter-spacing: 0;
  .editor-post-title__input{
    font-family: inherit;
    font-weight: 500;
  }
  .wp-block{
    max-width: 740px;
  }
}
 
@import 'post';

